@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --background: #FAF8F2; /* uofa surface */
  --surface: #FFFFFF;
  --text: #053B28;       /* uofa dark */
  --text-muted: #2f5a45; /* optional muted */
  --border: #e2e8f0;
  --primary: #007C41;    /* uofa green */
  --accent: #FFC72C;     /* uofa gold */
  --radius: 14px;
}



h2 {
  font-size: 1.5rem;   /* ~text-2xl */
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 { @apply text-4xl font-bold; }
  h2 { @apply text-2xl font-semibold; }
  h3 { @apply text-xl font-semibold; }
  h4 { @apply text-lg font-semibold; }
  h5 { @apply text-base font-semibold; }
  h6 { @apply text-sm font-semibold; }
}

/* Dropdown Button */
.dropbtn {
  background-color: #FFC72C;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 1px;
  min-width: 220px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FFC72C;}



